<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar de Variável - Olympo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/radar-variavel/radar-bg.png') }}">
</head>
<body>

<div class="page-center">
    <div class="form-card">
        <img src="{{ url_for('static', filename='images/radar-variavel/radar-bg.png') }}" class="logo" alt="logo">

        <h1>Radar de Variável</h1>
        <h2 class="muted">Classificação de Leads</h2>
        <!-- <h2>Radar de Variável</h2> -->

        <form method="POST">

            <label>Nome do Cliente:</label>
            <input name="Nome do Cliente" type="text" required>
            <label>Seu e-mail V4:</label>
            <input id="email" name="E-mail" type="email" required>

            <script>
            document.addEventListener("DOMContentLoaded", () => {
                const input = document.getElementById("email");

                input.addEventListener("input", () => {
                    const value = input.value;
                    const regex = /^[a-zA-Z0-9._%+-]+@v4company\..+$/;

                    if (!regex.test(value)) {
                    input.setCustomValidity("O e-mail precisa conter @v4company e um domínio (ex: .com, .com.br).");
                    } else {
                    input.setCustomValidity("");
                    }
                });
            });
            </script>
            {% for criterio, opcoes in criterios.items() %}
                <label>{{ criterio }}:</label>
                <select name="{{ criterio }}" required>
                    <option value="">Selecione...</option>
                    {% for item in opcoes %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            {% endfor %}

            <button type="submit">Enviar Lead</button>

        </form>

        <!-- <a class="back-link" href="/">Voltar ao Dashboard</a> -->

    </div>

    <!-- TESTE SPINNER -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <p>Enviando lead...</p>
    </div>

</div>

    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");
        const loading = document.getElementById("loading");

        form.addEventListener("submit", () => {
            loading.classList.remove("hidden");
        });
    });
    </script>
</body>
</html>